.root {
 }

.background_image{
    -fx-background-image: url("background.png");
}

.tab-pane *.tab-header-background{
    -fx-background-color: transparent;
}

.button:pressed{
     -fx-translate-y: 4px;
 }

.button_reflex{
    -fx-background-color1: lightblue;
    -fx-background-color2: aqua;
    -fx-background-color3: deepskyblue;
    -fx-background-color4: blue;
    -fx-shape: "M 200 150 C 250 200 250 200 300 200 L 550 200 C 600 200 625 175 650 150 C 600 200 650 200 600 250 C 650 300 600 300 650 350 C 600 300 600 300 550 300 L 300 300 C 250 300 250 300 200 350 C 250 300 200 300 250 250 C 200 200 250 200 200 150 Z";
    -fx-background-color: radial-gradient(focus-angle 360deg, focus-distance 0%, center 50% 50%, radius 70%, reflect, -fx-background-color1, -fx-background-color2 20%, -fx-background-color3 50%, -fx-background-color4 80%);
    -fx-text-fill: linear-gradient(#e4e000 0%, #ff0000 50%, #e4e000 100%);
}

.tab_reflex{
    -fx-background-color1: lightblue;
    -fx-background-color2: aqua;
    -fx-background-color3: deepskyblue;
    -fx-background-color4: blue;
    -fx-pref-width: 120;
    -fx-pref-height: 60;
    -fx-shape: "M 520 240 L 620 190 L 570 280 L 220 280 L 160 190 L 260 240 L 210 130 L 260 190 L 320 110 L 320 170 L 390 80 L 460 170 L 460 110 L 520 190 L 580 130 Z";
    -fx-background-color: radial-gradient(focus-angle 360deg, focus-distance 0%, center 50% 100%, radius 100%, reflect, -fx-background-color1, -fx-background-color2 30%, -fx-background-color3 50%, -fx-background-color4 100%);
}

.button_reflex:hover, .tab_reflex:hover{
    -fx-background-color1: aqua;
    -fx-background-color2: deepskyblue;
    -fx-background-color3: blue;
    -fx-background-color4: #01042F;
}

.button_precision{
    -fx-background-color1: lawngreen;
    -fx-background-color2: greenyellow;
    -fx-background-color3: darkgreen;
    -fx-shape: "M 400 300 L 250 300 C 250 200 325 150 400 150 L 400 300 L 425 300 L 425 150 C 500 150 575 225 575 300 L 425 300 L 425 325 L 575 325 C 575 400 500 475 425 475 L 425 325 L 400 325 L 400 475 C 325 475 250 400 250 325 L 400 325 L 400 300 C 350 300 350 300 250 300 L 175 300 L 175 325 L -50 325 L 175 325 L 250 325 L 250 300 L 400 150 L 425 150 L 425 75 L 400 75 L 400 150 L 400 475 L 400 550 L 425 550 L 425 475 L 400 475 L 400 325 L 650 325 L 875 325 L 650 325  L 650 300 L 575 300 L 575 325 L 400 325 ";
    -fx-background-color: radial-gradient(focus-angle 360deg, focus-distance 0%, center 50% 50%, radius 40%, reflect, -fx-background-color1, -fx-background-color2 40%, -fx-background-color3 80%);
    -fx-text-fill: linear-gradient(navy 0%, dodgerblue 33%, deepskyblue 66%, aqua 100%);
}

.tab_precision{
    -fx-background-color1: lawngreen;
    -fx-background-color2: greenyellow;
    -fx-background-color3: darkgreen;
    -fx-pref-width: 130;
    -fx-pref-height: 60;
    -fx-shape: "M 400 300 L 250 300 C 250 200 325 150 400 150 L 400 300 L 425 300 L 425 150 C 500 150 575 225 575 300 L 425 300 L 425 325 L 575 325 L 425 325 L 400 325 C 250 325 400 325 250 325 L 400 325 L 400 300 C 350 300 350 300 250 300 L 175 300 L 175 325 L 125 325 L 175 325 L 250 325 L 250 300 L 400 150 L 425 150 L 425 75 L 400 75 L 400 150 L 400 325 L 650 325 L 700 325 L 650 325 L 650 300 L 575 300 L 575 325 L 400 325";
    -fx-background-color: radial-gradient(focus-angle 360deg, focus-distance 0%, center 50% 100%, radius 70%, reflect, -fx-background-color1, -fx-background-color2 40%, -fx-background-color3);
    -fx-text-fill: linear-gradient(dodgerblue 0%, deepskyblue 33%, aqua 66%, white 100%);
}

.button_precision:hover, .tab_precision:hover{
    -fx-background-color1: greenyellow;
    -fx-background-color2: darkgreen;
    -fx-background-color3: #003200;
}


.button_speed{
    -fx-background-color1: red;
    -fx-background-color2: orange;
    -fx-background-color3: yellow;
    -fx-shape: "M 220 210 C 250 250 260 210 280 280 C 340 270 260 190 310 170 C 280 210 330 190 350 280 C 330 250 400 170 350 160 C 400 150 370 270 410 280 C 440 260 400 210 460 170 C 440 240 490 210 480 280 C 520 270 490 240 560 210 C 480 300 560 340 510 360 C 470 390 320 390 270 360 C 200 340 260 270 220 210 Z";
    -fx-background-color: radial-gradient(focus-angle 360deg, focus-distance 0%, center 50% 100%, radius 80%, reflect, -fx-background-color1, -fx-background-color2 50%, -fx-background-color3);
    -fx-text-fill: linear-gradient(#85e81c, #000000);
}

.tab_speed{
    -fx-background-color1: red;
    -fx-background-color2: orange;
    -fx-background-color3: yellow;
    -fx-pref-width: 120;
    -fx-pref-height: 60;
    -fx-shape: "M 220 200 C 280 220 230 230 280 250 C 340 260 270 210 300 170 C 290 210 330 190 360 250 C 340 230 400 170 340 150 C 400 150 390 230 410 240 C 440 220 410 190 480 160 C 430 190 450 220 470 240 C 480 240 490 190 540 200 C 460 220 540 300 480 320 C 450 320 350 320 270 320 C 220 290 270 210 220 200 Z";
    -fx-background-color: radial-gradient(focus-angle 360deg, focus-distance 0%, center 50% 100%, radius 70%, reflect, -fx-background-color1, -fx-background-color2 50%, -fx-background-color3);
    -fx-text-fill: linear-gradient(#000000, #85e81c);
}

.button_speed:hover, .tab_speed:hover{
    -fx-background-color1: #300000;
    -fx-background-color2: red;
    -fx-background-color3: orange;
}

.tab_options{
    -fx-background-color1: white;
    -fx-background-color2: gray;
    -fx-background-color3: black;
    -fx-pref-width: 120;
    -fx-pref-height:  60;
    -fx-shape: "M184 16 175 73C161 76 148 81 136 88L89 55 55 89 88 136C81 147 75 160 72 174L16 184 16 232-164 232 16 232 72 242C75 255 81 268 88 280L55 327 89 361 136 328C147 335 160 340 174 344L184 401 232 401 242 344C256 340 268 335 280 328L328 361 362 327 328 280C335 268 340 256 344 242L401 232 581 232 401 232 401 184 344 174C340 160 335 148 328 136L361 89 327 55 280 89C268 81 255 76 242 73L232 16ZM208 104C266 104 313 150 313 208 313 266 266 313 208 313 150 313 104 266 104 208 104 150 150 104 208 104ZM208 129C165 129 129 165 129 208 129 252 165 287 208 287 252 287 287 252 287 208 287 165 252 129 208 129ZM208 175C226 175 241 190 241 208 241 226 226 241 208 241 189 241 175 226 175 208 175 190 189 175 208 175Z";
    -fx-background-color: radial-gradient(focus-angle 360deg, focus-distance 0%, center 50% 50%, radius 60%, reflect, -fx-background-color1, -fx-background-color2 50%, -fx-background-color3);
    -fx-text-fill: linear-gradient(#000000, #ff0000);
}

.tab_options:hover{
    -fx-background-color1: black;
    -fx-background-color2: gray;
    -fx-background-color3: white;
}

.button_exit_image{
    -fx-shape: "M61.587 0.792 C 33.625 5.567,10.380 26.865,2.154 55.243 L 0.391 61.328 0.391 200.000 L 0.391 338.672 2.154 344.757 C 9.738 370.922,29.078 390.262,55.243 397.846 L 61.328 399.609 200.000 399.609 L 338.672 399.609 344.757 397.846 C 370.922 390.262,390.262 370.922,397.846 344.757 L 399.609 338.672 399.609 200.000 L 399.609 61.328 397.846 55.243 C 390.317 29.270,371.512 10.321,345.177 2.174 L 339.453 0.403 202.344 0.286 C 126.934 0.222,63.593 0.449,61.587 0.792 M142.723 109.411 C 143.932 109.861,157.312 122.601,172.456 137.722 L 199.990 165.216 227.924 137.351 C 263.294 102.071,259.104 103.349,277.931 122.100 C 296.658 140.752,297.904 136.682,262.632 172.070 L 234.795 200.000 262.632 227.930 C 297.904 263.318,296.658 259.248,277.931 277.900 C 259.104 296.651,263.293 297.928,227.930 262.654 L 200.000 234.795 172.070 262.632 C 136.682 297.904,140.752 296.658,122.100 277.931 C 103.349 259.104,102.072 263.293,137.346 227.930 L 165.205 200.000 137.368 172.070 C 102.097 136.683,103.343 140.754,122.069 122.095 C 135.721 108.493,137.429 107.443,142.723 109.411 ";
    -fx-background-color1: #8f0000;
    -fx-background-color2: #003987;
    -fx-background-color: linear-gradient(to bottom right, -fx-background-color1 0%, -fx-background-color2 100%);
}

.button_maximalize_image{
    -fx-shape: "M59.375 1.207 C 31.692 7.178,10.204 27.447,2.177 55.160 L 0.391 61.328 0.391 200.000 L 0.391 338.672 2.177 344.840 C 9.741 370.955,29.045 390.259,55.160 397.823 L 61.328 399.609 200.000 399.609 L 338.672 399.609 344.840 397.823 C 370.955 390.259,390.259 370.955,397.823 344.840 L 399.609 338.672 399.609 200.000 L 399.609 61.328 397.823 55.160 C 390.301 29.192,371.592 10.339,345.260 2.195 L 339.453 0.399 201.953 0.255 C 86.536 0.134,63.638 0.287,59.375 1.207 M315.235 110.547 C 317.720 112.086,319.644 114.073,320.838 116.334 L 322.656 119.777 322.639 207.349 C 322.620 304.728,322.974 298.140,317.481 303.271 C 313.326 307.152,317.099 307.031,200.000 307.031 C 82.901 307.031,86.674 307.152,82.519 303.271 C 77.026 298.140,77.380 304.713,77.361 207.473 C 77.342 109.325,76.957 115.888,82.985 111.596 C 88.432 107.717,83.723 107.859,201.233 108.037 L 311.451 108.203 315.235 110.547 M107.031 223.047 L 107.031 277.344 200.000 277.344 L 292.969 277.344 292.969 223.047 L 292.969 168.750 200.000 168.750 L 107.031 168.750 107.031 223.047 ";
    -fx-background-color1: #8f0000;
    -fx-background-color2: #003987;
    -fx-background-color: linear-gradient(to bottom right, -fx-background-color1 0%, -fx-background-color2 100%);
}

.button_minimalize_image{
    -fx-shape: "M61.587 0.792 C 33.625 5.567,10.380 26.865,2.154 55.243 L 0.391 61.328 0.391 200.000 L 0.391 338.672 2.154 344.757 C 9.738 370.922,29.078 390.262,55.243 397.846 L 61.328 399.609 200.000 399.609 L 338.672 399.609 344.757 397.846 C 370.922 390.262,390.262 370.922,397.846 344.757 L 399.609 338.672 399.609 200.000 L 399.609 61.328 397.846 55.243 C 390.317 29.270,371.512 10.321,345.177 2.174 L 339.453 0.403 202.344 0.286 C 126.934 0.222,63.593 0.449,61.587 0.792 M313.035 247.706 C 321.195 250.789,322.618 255.128,322.639 276.983 C 322.659 297.413,322.173 299.449,316.138 304.252 L 313.136 306.641 200.000 306.641 L 86.864 306.641 83.862 304.252 C 77.842 299.461,77.344 297.390,77.344 277.153 C 77.344 255.498,78.596 251.434,86.328 247.982 C 89.380 246.620,309.451 246.352,313.035 247.706 ";
    -fx-background-color1: #8f0000;
    -fx-background-color2: #003987;
    -fx-background-color: linear-gradient(to bottom right, -fx-background-color1 0%, -fx-background-color2 100%);
}

.button_exit_image:hover, .button_maximalize_image:hover, .button_minimalize_image:hover{
    -fx-background-color1: #ff0000;
    -fx-background-color2: #00a9e7;
}

.radioButton_poland{
    -fx-background-image: url("icon_poland.png");
}

.radioButton_uk{
    -fx-background-image: url("icon_uk.png");
}

.comboBox_window_size{
    -fx-background-color1: white;
    -fx-background-color2: gray;
    -fx-background-color3: black;
    -fx-background-color: radial-gradient(focus-angle 360deg, focus-distance 0%, center 50% 50%, radius 75%, reflect, -fx-background-color1, -fx-background-color2 50%, -fx-background-color3);
}

.list-cell{
    -fx-text-fill: darkblue;
    -fx-background-color: radial-gradient(focus-angle 360deg, focus-distance 0%, center 50% 50%, radius 75%, reflect, -fx-background-color1, -fx-background-color2 50%, -fx-background-color3);
}

.list-cell *.list-cell-header{
    -fx-background-color: transparent;
}

.list-cell:collapsed{
    -fx-text-fill: orange;
}

.list-cell:hover {
    -fx-background-color3: #505050;
    -fx-background-color: radial-gradient(focus-angle 360deg, focus-distance 0%, center 50% 50%, radius 75%, reflect, -fx-background-color3, -fx-background-color2 50%, -fx-background-color1);
    -fx-text-fill: red;
}

.table_faq{
    -fx-background-color: transparent;
    -fx-text-fill: linear-gradient(#e4e000, #ff0000);
}

.table_faq:hover{
    -fx-text-fill: red;
}

.table-row-cell{
    -fx-background-color: transparent;
}

.table-view-header{
    -fx-background-color: transparent;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button,
.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view *.scroll-bar:vertical *.thumb{
    -fx-background-color1: white;
    -fx-background-color2: gray;
    -fx-background-color3: black;
    -fx-background-color: radial-gradient(focus-angle 360deg, focus-distance 0%, center 50% 50%, radius 65%, reflect, -fx-background-color1, -fx-background-color2 50%, -fx-background-color3);
}


.table-view .scroll-pane {
    -fx-background-color: transparent;
}

.table-view .scroll-bar .increment-button {
    visibility: hidden;
}

.table-view .scroll-bar .decrement-button {
    visibility: hidden;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .track-background {
    visibility: hidden;
}

.table-view .scroll-bar:vertical .track {
    visibility: hidden;
}

.table-view .hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

.label_logo{
    -fx-background-size: stretch;
    -fx-background-image: url("logo_cd.png");
}

.buttons_options{
    -fx-background-color1: white;
    -fx-background-color2: gray;
    -fx-background-color3: black;
    -fx-background-color4: transparent;
    -fx-background-color: radial-gradient(focus-angle 360deg, focus-distance 0%, center 50% 50%, radius 60%, reflect, -fx-background-color1, -fx-background-color2 50%, -fx-background-color3 80%, -fx-background-color4 85%);
    -fx-text-fill: linear-gradient(#000000, #ff0000);
}

.buttons_options:hover{
    -fx-background-color1: gray;
    -fx-background-color2: #505050;
}
