
.background_image{
    -fx-background-image: url("background.png");
}

.button:pressed{
    -fx-translate-y: 4px;
}

.button_exit_image{
    -fx-shape: "M61.587 0.792 C 33.625 5.567,10.380 26.865,2.154 55.243 L 0.391 61.328 0.391 200.000 L 0.391 338.672 2.154 344.757 C 9.738 370.922,29.078 390.262,55.243 397.846 L 61.328 399.609 200.000 399.609 L 338.672 399.609 344.757 397.846 C 370.922 390.262,390.262 370.922,397.846 344.757 L 399.609 338.672 399.609 200.000 L 399.609 61.328 397.846 55.243 C 390.317 29.270,371.512 10.321,345.177 2.174 L 339.453 0.403 202.344 0.286 C 126.934 0.222,63.593 0.449,61.587 0.792 M142.723 109.411 C 143.932 109.861,157.312 122.601,172.456 137.722 L 199.990 165.216 227.924 137.351 C 263.294 102.071,259.104 103.349,277.931 122.100 C 296.658 140.752,297.904 136.682,262.632 172.070 L 234.795 200.000 262.632 227.930 C 297.904 263.318,296.658 259.248,277.931 277.900 C 259.104 296.651,263.293 297.928,227.930 262.654 L 200.000 234.795 172.070 262.632 C 136.682 297.904,140.752 296.658,122.100 277.931 C 103.349 259.104,102.072 263.293,137.346 227.930 L 165.205 200.000 137.368 172.070 C 102.097 136.683,103.343 140.754,122.069 122.095 C 135.721 108.493,137.429 107.443,142.723 109.411 ";
    -fx-background-color1: #8f0000;
    -fx-background-color2: #003987;
    -fx-background-color: linear-gradient(to bottom right, -fx-background-color1 0%, -fx-background-color2 100%);
}

.button_maximalize_image{
    -fx-shape: "M59.375 1.207 C 31.692 7.178,10.204 27.447,2.177 55.160 L 0.391 61.328 0.391 200.000 L 0.391 338.672 2.177 344.840 C 9.741 370.955,29.045 390.259,55.160 397.823 L 61.328 399.609 200.000 399.609 L 338.672 399.609 344.840 397.823 C 370.955 390.259,390.259 370.955,397.823 344.840 L 399.609 338.672 399.609 200.000 L 399.609 61.328 397.823 55.160 C 390.301 29.192,371.592 10.339,345.260 2.195 L 339.453 0.399 201.953 0.255 C 86.536 0.134,63.638 0.287,59.375 1.207 M315.235 110.547 C 317.720 112.086,319.644 114.073,320.838 116.334 L 322.656 119.777 322.639 207.349 C 322.620 304.728,322.974 298.140,317.481 303.271 C 313.326 307.152,317.099 307.031,200.000 307.031 C 82.901 307.031,86.674 307.152,82.519 303.271 C 77.026 298.140,77.380 304.713,77.361 207.473 C 77.342 109.325,76.957 115.888,82.985 111.596 C 88.432 107.717,83.723 107.859,201.233 108.037 L 311.451 108.203 315.235 110.547 M107.031 223.047 L 107.031 277.344 200.000 277.344 L 292.969 277.344 292.969 223.047 L 292.969 168.750 200.000 168.750 L 107.031 168.750 107.031 223.047 ";
    -fx-background-color1: #4f0000;
    -fx-background-color2: #000947;
    -fx-background-color: linear-gradient(to bottom right, -fx-background-color1 0%, -fx-background-color2 100%);
}

.button_minimalize_image{
    -fx-shape: "M61.587 0.792 C 33.625 5.567,10.380 26.865,2.154 55.243 L 0.391 61.328 0.391 200.000 L 0.391 338.672 2.154 344.757 C 9.738 370.922,29.078 390.262,55.243 397.846 L 61.328 399.609 200.000 399.609 L 338.672 399.609 344.757 397.846 C 370.922 390.262,390.262 370.922,397.846 344.757 L 399.609 338.672 399.609 200.000 L 399.609 61.328 397.846 55.243 C 390.317 29.270,371.512 10.321,345.177 2.174 L 339.453 0.403 202.344 0.286 C 126.934 0.222,63.593 0.449,61.587 0.792 M313.035 247.706 C 321.195 250.789,322.618 255.128,322.639 276.983 C 322.659 297.413,322.173 299.449,316.138 304.252 L 313.136 306.641 200.000 306.641 L 86.864 306.641 83.862 304.252 C 77.842 299.461,77.344 297.390,77.344 277.153 C 77.344 255.498,78.596 251.434,86.328 247.982 C 89.380 246.620,309.451 246.352,313.035 247.706 ";
    -fx-background-color1: #8f0000;
    -fx-background-color2: #003987;
    -fx-background-color: linear-gradient(to bottom right, -fx-background-color1 0%, -fx-background-color2 100%);
}

.button_exit_image:hover, .button_minimalize_image:hover{
    -fx-background-color1: #ff0000;
    -fx-background-color2: #00a9e7;
}
